<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>

<body>
	<nav th:replace="layouts :: foo"></nav>
	
<div class="container">	
	<h3>Main Dashboard</h3>
		<hr>
	
		<h4>Current Projects</h4>
		<div class="row">
		<div class="col-md-6">
		
			<table class="table table-bordered table-striped">
		
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Description</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.description}"/>
					<td th:text="${aProject.stage}"/>
				</tr>
			</tbody>
			
		</table>
		</div>
	
	
		<div class="col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
		</div>
	</div>
</div>

	
<div class="container">
	<h4>Current Employees</h4>
		<div class="row">
		<div class="col-md-6">
		<table class="table table-bordered table-striped">
		
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employees : ${aEmployee}">
					<td th:text="${employees.firstName}"/>
					<td th:text="${employees.lastName}"/>
					<td th:text="${employees.email}"/>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>
	
	
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>
	
</body>
</html>